html,
body {
    margin: 0px;
    padding: 0px;
}

.gpmain {
    display: flex;
    flex-direction: column;
    background: url('img/bg.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.gpanimpic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

@keyframes start_anim1 {
    from {
        border: none;
        padding: 0px;
        background-color: white;
        font-size: 0pt;
        color: black;
        font-family: 'Lobster', cursive;
    }
    to {
        border: 4px black solid;
        padding: 20px;
        background-color: brown;
        font-size: 18pt;
        color: yellow;
        font-family: 'Lobster', cursive;
    }
}

@keyframes start_anim2 {
    from {
        border: none;
        padding: 0px;
        background-color: white;
        font-size: 0pt;
        color: black;
        font-family: 'Lobster', cursive;
    }
    to {
        border: 4px black solid;
        padding: 20px;
        background-color: green;
        font-size: 18pt;
        color: yellow;
        font-family: 'Lobster', cursive;
    }
}

@keyframes start_anim3 {
    from {
        border: none;
        padding: 0px;
        background-color: white;
        font-size: 0pt;
        color: black;
        font-family: 'Lobster', cursive;
    }
    to {
        border: 4px black solid;
        padding: 20px;
        background-color: red;
        font-size: 18pt;
        color: yellow;
        font-family: 'Lobster', cursive;
    }
}

#text1 {
    margin: 20px;
    text-align: center;
    animation-name: start_anim1;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#text2 {
    margin: 20px;
    text-align: center;
    animation-name: start_anim2;
    animation-duration: 10s;
    animation-delay: 12s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#text3 {
    margin: 20px;
    text-align: center;
    animation-name: start_anim3;
    animation-duration: 10s;
    animation-delay: 22s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.gpblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gpjob {
    font-family: 'Tangerine', cursive;
    font-size: 4.0rem;
    font-weight: 400;
    text-shadow: 2px 2px 3px red;
    margin-top: 50px;
    margin-bottom: 40px;
    height: 45px;
    width: calc(100vw/2);
    text-align: center;
}

.gpcontainer {
    width: 370px;
    border: 8px solid;
    border-color: orange;
    border-radius: 9px;
    padding: 10px 10px;
    background-color: grey;
    margin-bottom: 10px;
}

img {
    border-radius: 15%;
    transition: all 0.5s ease-in-out;
}

img:hover {
    transform: scale(1.5) rotate(360deg);
}

#countpos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Cookie', cursive;
    font-size: 20pt;
    margin-top: 30px;
    margin-bottom: 80px;
}

#secondcalc {
    font-family: 'Emilys Candy', cursive;
    font-size: 20pt;
    padding: 1px 12px 1px;
    background-color: red;
    color: yellow;
    width: 60px;
    text-align: center;
}

.buttons {
    display: inline-block;
    text-decoration: none;
    width: 280px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    padding: 6px 12px;
    margin: 10px;
    border: 3px solid;
    border-radius: 15px;
    white-space: nowrap;
    vertical-align: middle;
    color: white;
    background-color: red;
    border-color: orange;
}

.buttons:hover {
    color: black;
    text-decoration: none;
    background-color: lime;
    border-color: seagreen;
    transition: background-color .30s ease-in-out;
}

.negative {
    margin-top: 50px;
    margin-bottom: 60px;
}

@media (max-width: 600px) {
    #countpos {
        flex-direction: column;
        align-items: center;
    }
    .negative {
        display: none;
    }
    .gpjob {
        font-size: 3.0rem;
    }
}